body{ background-color:#DFFFD8;padding:3% 5%;}





.profile-pic{height:120px;width: 120px;border-radius:50%;}
.top{margin:auto;}
h1{color: #126c1b; margin-top: 0px;}
hr{border-style:none;
    border-top-style:dotted ;
     border-color: hsl(103, 32%, 56%);
     border-width: 5px;
     width:20%;}

     h4{color:#126c1b;}  
     
     
    .arrange{border:solid;border-style:dotted;
    border-width:2px;}
  h3{ color:rgb(11, 114, 36); padding:0%;}  
   
    
  h5{color:rgb(143, 73, 73);} 